.wrapper {
  background: #fff;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1%;
}

.well {
  overflow: hidden;
  margin-bottom: 10px;
}

.well .password-item {
  overflow: hidden;
  padding: 5px 0;
}

.name {
  width: 39%;
  float: left;
  padding-right: 1%;
}

.name input[readonly] {
  cursor: text;
}

/* Password controls */

.controls {
  float: right;
  width: 55%;
  padding-right: 1%;
}

.controls .btn-group {
  width: 100%;
  float: right;
}

.controls .btn-group button,
.controls .btn-group a {
  width: calc(100%/3);
}

/* Options button */

.options {
  width: 6%;
  float: right;
}

.options button {
  float: right;
  width: 100%;
}

/* Add password button */

.add-password {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

/* Footer */
.footer .made-by {
  float: right;
}

/* Lightbox */

.modal-body {
  overflow: hidden;
  padding-bottom: 5px;
}

.progress {
  margin-bottom: 0;
}

/* Animations */

button,
input,
a {
  transition: .3s background-color;
}

/* @media */

@media (max-width: 768px) and (min-width: 480px) {
  .name {
    width: 61%;
    padding-right: 2%;
  }

  .controls {
    width: 30%;
    padding-right: 2%;
  }

  .options {
    width: 9%;
  }
}

@media (max-width: 480px) {
  .name {
    width: 100%;
    padding-right: 0;
    margin-bottom: 8px;
  }

  .controls {
    width: 75%;
    padding-right: 3%;
  }

  .options {
    width: 25%;
  }

  .modal-footer button {
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 0!important;
  }

  .modal-footer button:first-child {
    margin-top: 0;
  }

}
