<div class="well well-sm">

  <!-- You dont have any passwords alert -->
  <div class="alert alert-info" role="alert" ng-hide="data.length">
    You don't have any saved passwords to display. Start with clicking on Add password button.
  </div>

  <!-- Passwords list -->
  
  <div class="password-item" ng-repeat="item in data">
    <div class="name">
      <input
        type="text"
        class="form-control"
        ng-value="item.name"
        readonly
        >
    </div>
    <div class="options">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#editPasswordModal"
        ng-click="setEditedPasswordIndex($index); fillEditForm(item)"
          >
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
    <div class="controls">
      <div class="btn-group">
        <a 
          class="btn btn-default"
          href="{{ item.website }}"
          target="_blank"
          ng-disabled="!item.website"
          >
          <span class="glyphicon glyphicon-globe"></span>
          <span class="hidden-xs">Open website</span>
        </a>
        <button
          type="button"
          class="btn btn-default"
          clip-copy="item.username"
          >
          <span class="glyphicon glyphicon-user"></span>
          <span class="hidden-xs">Copy username</span>
        </button>
        <button
          type="button"
          class="btn btn-default"
          clip-copy="item.password"
          >
          <span class="glyphicon glyphicon-asterisk"></span>
          <span class="hidden-xs">Copy password</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Add password button -->
  <button
    type="button"
    class="btn btn-primary add-password"
    data-toggle="modal"
    data-target="#addPasswordModal"
    ng-click="clearAddFrom()"
    >
    <span class="glyphicon glyphicon-file"></span>
    Add password
  </button>

</div>
